{{define "main"}}

{{range .Clusters}}
{{ template "nodePortServer" .NodePorts }}

{{ template "nodePortUpstream" .NodePorts }}
{{end}}



server {
    listen 80 default_server;
    listen [::]:80 default_server;
    root /var/www/html;
    index index.html index.htm index.nginx-debian.html;
    server_name _;
    location / {
        # First attempt to serve request as file, then
        # as directory, then fall back to displaying a 404.
        try_files $uri $uri/ =404;
    }
}
{{end}}



{{define "nodePortServer"}}
{{range .}}
server {
    listen {{.Port}};
    server_name _;
    location / {
        proxy_pass http://{{.MasterIP}}_{{.Port}};
    }
}
{{end}}
{{end}}

{{define "nodePortUpstream"}}
{{range .}}
upstream {{.MasterIP}}_{{.Port}} {
    {{$port := .Port}}
    {{range .Workers}}
    server {{.HostIP}}:{{$port}};
    {{end}}
}
{{end}}
{{end}}