{{range .Backends}}
upstream {{.Name}} {
    server {{.IP}};
}
{{end}}

{{range .VServers}}
server {
    listen {{.Port}};
    server_name _;
    proxy_pass http://{{.Backend.Name}}:{{.Port}};
}
{{end}}

server {
        listen 80 default_server;
        listen [::]:80 default_server;
        root /var/www/html;
        index index.html index.htm index.nginx-debian.html;
        server_name _;
        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ =404;
        }
}