{{define "nodePortServers"}}
    {{range .}}
    server {
        listen {{.Port}};
        server_name _;
        location / {
            proxy_pass http://{{.MasterIP}}_{{.WorkerIndex}};
        }
    }
    {{end}}
{{end}}

{{define "nodePorts"}}
    {{range $i, $v := .}}
    server {{$v.HostIP}}:{{$v.Port}};
    {{end}}
{{end}}

{{define "workers"}}
{{range $i, $v := .}}
upstream {{$v.MasterIP}}_{{$i}} {
    {{ template "nodePorts" $v.NodePorts }}
}

{{ template "nodePortServers" $v.NodePorts }}
{{end}}
{{end}}

{{define "backends"}}
{{range .}}
{{ template "workers" .Workers }}
{{end}}
{{end}}


{{range .Backends.Workers.NodePorts}}

{{end}}


{{define "main"}}
{{ template "backends" .Backends }}

server {
    listen 80 default_server;
    listen [::]:80 default_server;
    root /var/www/html;
    index index.html index.htm index.nginx-debian.html;
    server_name _;
    location / {
        # First attempt to serve request as file, then
        # as directory, then fall back to displaying a 404.
        try_files $uri $uri/ =404;
    }
}
{{end}}