{{define "main"}}

{{range .Clusters}}
{{ template "nodePortServer" .NodePorts }}

{{ template "nodePortUpstream" .NodePorts }}
{{end}}

{{end}}



{{define "nodePortServer"}}
{{range .}}
server {
    listen {{.Port}};
    server_name _;
    location / {
        proxy_pass http://{{.MasterIP}}_{{.Port}};
    }
}
{{end}}
{{end}}

{{define "nodePortUpstream"}}
{{range .}}
upstream {{.MasterIP}}_{{.Port}} {
    {{$port := .Port}}
    {{range .Workers}}
    server {{.HostIP}}:{{$port}};
    {{end}}
}
{{end}}
{{end}}
